---
interface Props {
    autoFit: boolean
}

const { autoFit } = Astro.props;
---

<div class={`project-list${autoFit ? ' auto-fit' : ''}`}>
    <slot />
</div>

<style>
    .project-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1em;
        padding-bottom: 1em;
        place-content: center;
        place-items: center;
    }

    .project-list.auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

    @media only screen and (max-width: 900px) {
        .project-list {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr);
		}
    }
</style>