<div>
    <slot/>
</div>

<style>
    div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		place-content: center;
		place-items: center;
		text-align: center;
		margin-top: 2em;
	}
</style>